body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor__fundo);
}

header {
    background: rgb(214, 169, 70);
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 150px;
    font-family: 'Gentium Book Plus', serif;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}

nav a:hover {
    color: rgb(207, 12, 12);
    text-decoration: underline;
}

/* CORPO DA PAGINA PRODUTOS */
.produtos {
    margin: 0 auto;
    padding: 20px;
    width: 940px;
}

.produtos li {
    box-sizing: border-box;
    border: 3px rgb(214, 169, 70)solid;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin: 0.5%;
    padding: 30px 20px;
    vertical-align: top;
    width: 30%;
}

.produto__lista{
    text-decoration: none;
    color:rgb(0, 0, 0)
}
.produto__lista:visited{
    color:rgb(0, 0, 0)
}
.produtos li:hover {
    border-color: rgb(207, 12, 12);
}

.produtos li:active {
    border-color: rgb(0, 0, 0);
}


.img-lista-produto {
    margin: 15px 0 15px 0;
    width: 15em;

}

.produtos li:hover h2 {
    font-size: 60px;
    color: rgb(214, 169, 70)
}

.produtos li:active h2 {
    color: rgb(207, 12, 12);
}

.produtos h2 {
    font-size: 20px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 26px;
}

.precos {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.rodape {
    background: rgb(177, 64, 64);
    padding: 40px 0;
    text-align: center
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 30px;
}
/* formulario */
form {
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
    width: 940px;
    margin: 20px auto;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
    
}

.input-padrão {
    margin: 0 0 15px;
    display: block;
    font-size: 20px;
    padding: 10px 25px;
    width: 50%;
    background: rgb(243, 211, 141);
}

.horarios {
    padding: 8px;
    margin-left: 50px;
}

.checkbox {
    margin: 20px 0;
}

.btn-enviar {
    width: 40%;
    background: rgb(207, 12, 12);
    padding: 15px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 15px;
    transform: 1.5s all;
    cursor: pointer;
}

.btn-enviar:hover {
    background: rgb(214, 169, 70);
    color: #000000;
    transform: scale(1.2);

}

table {
    margin: 10px 0 25px;
    font-family: 'Gentium Book Plus', serif;
    margin: 30px 200px;
}

thead {
    background: rgb(163, 67, 67);
    font-weight: bold;
    color: white;
}

td,
th {
    border: 1px solid rgb(207, 12, 12);
    padding: 7px 14px;

}

/* ESTILIZAÇÃO DA PAGINA INICIAL */
.banner {
    width: 100%;
    height: 900px
}
.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal {
    font-size: 2em;
    font-family: 'Gentium Book Plus', serif;
    text-align: center;
    margin: 0 0 2em;
    clear: left;
}

.momento-familia {
    width: 30em;
    float: left;
    margin: 0 25px 25px 0;
}

.principal p {
    margin: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
    color: red
}

.mapa{
    padding: 3em 0;
    background:linear-gradient(white,  rgb(163, 67, 67));
}

.mapa p{
    margin: 2em;
    text-align: center;
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.beneficios{
    padding: 3em 0;
    background: rgb(163, 67, 67);
    color:rgba(255, 200, 255,0.8)
}
.conteudo-beneficio{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficio{
    width: 40%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.item-beneficio{
    line-height: 1.5;
}
.item-beneficio::before{
    content: "🟊";
    margin: 5px;
}
.item-beneficio:nth-child(2n){
    font-weight: bold;
    font-size: 18px;
    color:rgb(214, 169, 70)
    
}
.imagem-beneficio{
    width: 60%;
    box-shadow: 10px 10px 20px 12px #000000;
}
.video{
    width: 460px;
    margin: 3em auto;
}
/* TELA DE INICIAL */
@media screen and (max-width:480px){
    .caixa{
        width: auto;
        margin: auto;
    }
    .mapa-conteudo{
        width: 20em;
    }
    .video{
        width: 18em;
    }
    .momento-familia{
        width: 15em;
        margin: 2em;
    }
    .principal{
        padding: 2px;
        margin: auto;
        width: auto;
    }
    h1{
        text-align: center;
        height:auto;
    }
    nav{
        position:static;
    }
    .conteudo-beneficio{
        width:auto
    }
    .lista-beneficio{
        width: auto;
        margin: 2em;
    }
    .imagem-beneficio{
        width: 80%;
        margin: 2em 2em;
    }
    .banner{
        width: 100%;
        height:auto;
    }
}

/* TELA DE FORMULARIO */
@media screen and (max-width:480px){
    form,.checkbox{
        width: auto;
        margin: 2em 3em;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
    .checkbox{
        font-size: 16px;
    }
    table{
        margin: 2em 2em;
    }
    .input-padrão{
        margin: 15px 0;
        width: 20em;
        font-size: 12px;
        background: rgb(243, 211, 141);
        color: #000000;
    }
    .input-radial{
        font-size: 16px;
        margin: 2px;
        padding: 5px;
        display: inline;
    }
    .atendimento{
        padding: 2em 0 0;
    }
    form legend,form label{
        font-size:16px ;
    }
    .btn-enviar{
        margin: 1em 3em;
        width: 10em;
        padding: auto;
    }
    .horarios{
        margin: 1em;
        padding: 8px 4em;
    }
}
/* visualização da pagina de produtos */

@media screen and (max-width:480px){
    .produtos{
        margin: 1em;
        width:50%
    }
    .produtos li{
        width: 20em;
        padding: 2% 3% 5%;
        display: block;
        font-size: 16px;
        font-weight: bold;
    }
    .produtos h2{
       font-weight: bold;
    }
    .produto-descricao{
        font-size: 16px;
        margin: 2em 2em 0 0;
        padding: 3px 5px;
    }
    .precos{
        font-size: 18px;
    }
    .img-lista-produto{
       width: 6em;
       margin: 2px 10px 10px 1px;
       float: left;
    }
}
/* variaveis*/
:root{
    --cor__fundo__branco: #fcf8f8;
    --cor__menu--laranja: #d1ad5f;
    --cor__borda:#000000;
}
/* PAGINA DE COMBOS */
.container{
    display: grid;
    background-color: var(--cor__menu--laranja);
    padding: 20px;
    grid-template-columns: 20% 10% auto 20%  ;
}
.container .conteudo{
    background-color: var(--cor__fundo__branco);
    padding: 20px ;
     border: 1px solid rgb(207, 12, 12);
}
.header{
   grid-column-start: 1;
   grid-column-end: 5; 
   text-align: center;
   font-weight: bold;
   font-size: 25px;
}
#sidebar{
   grid-row-start: 2;
   grid-row-end: 5;
   font-size: 15px;
}

.categoria__descricao{
    text-align: center;
    font-size: 18px;
    margin-bottom: 1em;
}

.categoria__lista{
    font-size: 15px;
    margin: 0 0 0 2em;
    line-height: 1.5;
}
.lista__item::before{
    content: "🍔";
    margin-right: 5px;
}

#content{
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns:18% 82%;
}
.sbHeader{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(207, 12, 12);
    padding: 2em;
    background-color: var(--cor__menu--laranja);
}
.img__combos{
    width: 7em;
    margin: 1em 0 0 0;
    padding:0 0 0 0.6em ;
    justify-items: center;
    border:  2px solid black;
    border-radius: 10px;
    padding: 2px;
}

.titulo__descrição{
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.descricao__item{
    font-size: 16px;
    padding-left: 0.5em;
    margin: 0.5em 0 1em;
}
.descricao__preco{
    text-align: center;
background-color: var(--cor__menu--laranja);
    border: 2px solid var(--cor__borda);
    margin: 2em 3em;
    padding: 5px;
    color: var(--cor__fundo__branco);
    text-decoration: none;
    font-weight: bold;
}
#cart{
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: center;
   font-weight: bold;
   font-size: 16px;
}
.cart__titulo{
    padding: 2em 0;
}
.pagamento{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    /* display: block; */
}
.label__content{
    font-size: 18px;
    padding: 0.5em 1em 0 0 ;
    margin-left: 1em;
    font-weight: normal;
}
.imput__pagamento{
    padding: 3em; 
    
}

footer {
    background: rgb(177, 64, 64);
    padding: 40px 0;
    text-align: center
}
